<section>
    <!-- Main Content -->
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <!-- Showcase -->
        <header class="showcase">
            <a href="#" class="btn">
                Get Ticket Now <i class="fas fa-chevron-right"></i>
            </a>
        </header>
        <h1 class="showing-line">Now Showing</h1>
        <!-- Home cards 1 -->
        <div class="slider-container showing-slider">
            <button class="slider-btn prev" onclick="moveSlide('showing', -1)">❮</button>
            <div class="slider">
                {{#each showingMovies}}
                    <div class="movie-slide col-6 col-sm-6 col-xl-3" id="mv-img">
                        <div class="brief-des">
                            <a href="/movies/movie-details/{{this.id}}">
                                <img src="{{this.image_url}}" alt="{{this.title}}" class="img-fluid">
                            </a>
                            <div class="rating">
                                {{#if this.rating}}
                                    <i class="fa-solid fa-star"></i>
                                    <p>{{this.rating}}</p>
                                {{/if}}
                            </div>
                            <div class="age-limit">{{this.age}}</div>
                        </div>
                        <p class="mv-name">{{this.title}}</p>
                    </div>
                {{/each}}
            </div>
            <button class="slider-btn next" onclick="moveSlide('showing', 1)">❯</button>
        </div>

        <h1 class="showing-line">Upcoming</h1>
        <!-- Home cards 2 -->
        <div class="slider-container upcoming-slider">
            <button class="slider-btn prev" onclick="moveSlide('upcoming', -1)">❮</button>
            <div class="slider">
                {{#each upcomingMovies}}
                    <div class="movie-slide col-6 col-sm-6 col-xl-3" id="mv-img">
                        <div class="brief-des">
                            <a href="/movies/movie-details/{{this.id}}">
                                <img src="{{this.image_url}}" alt="{{this.title}}" class="img-fluid">
                            </a>
                            <div class="rating">
                                {{#if this.rating}}
                                    <i class="fa-solid fa-star"></i>
                                    <p>{{this.rating}}</p>
                                {{/if}}
                            </div>
                            <div class="age-limit">{{this.age}}</div>
                        </div>
                        <p class="mv-name">{{this.title}}</p>
                    </div>
                {{/each}}
            </div>
            <button class="slider-btn next" onclick="moveSlide('upcoming', 1)">❯</button>
        </div>

    </div>
</section>