<section>
    <div class="container-fluid">
        <div class="filter-bar row my-3">
            <div class="col-md-5 d-flex align-items-center">
                <ul class="nav-film">
                    <li><a class="{{all}}" href="/movies">PHIM</a></li>
                    <li><a class="{{showing}}" href="/movies/showing">ĐANG CHIẾU</a></li>
                    <li><a class="{{upcoming}}" href="/movies/upcoming">SẮP CHIẾU</a></li>
                </ul>
            </div>
            <div class="col-md-7"></div>
            <div class="col-0 col-md-2"></div>
            {{#if genres.length}}
            <div class="col-3 col-md-2 pe-0">
                <select id="genre-filter" class="form-control">
                    <option value="none" selected>Thể Loại</option>
                    {{#each genres}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
            {{#if ages.length}}
            <div class="col-3 col-md-2 pe-0">
                <select id="age-filter" class="form-control">
                    <option value="none" selected>Độ Tuổi</option>
                    {{#each ages}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
            {{#if countries.length}}
            <div class="col-3 col-md-2 pe-0">
                <select id="country-filter" class="form-control">
                    <option value="none" selected>Quốc Gia</option>
                    {{#each countries}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
            <div class="col-3 col-md-2">
                <select id="rating-filter" class="form-control">
                    <option value="none" selected>Đánh Giá</option>
                    {{#each ratings}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-3 offset-9 offset-md-0 col-md-2 pt-2 pt-md-0">
                <button id="filter-button" class="btn btn-primary w-100">TÌM</button>
            </div>
        </div>

        <div class="row gx-3 gx-sm-4 gy-3 gy-sm-4" id="movie-list">
            {{#if movies.length}}
            {{#each movies}}
            <div class="col-6 col-sm-6 col-xl-3 movie-item">
                <div class="brief-des">
                    <a href="/movies/{{this.id}}">
                        <img src="{{this.image}}" alt="{{this.name_vn}}" class="img-fluid">
                    </a>
                    <div class="rating">
                        {{#if this.ratings}}
                        <i class="fa-solid fa-star"></i>
                        <p>{{this.ratings}}</p>
                        {{/if}}
                    </div>
                    <div class="age-limit">{{this.limitage_vn}}</div>
                    <a href="/movies/{{this.id}}">
                        <div class="text-container">
                            <ul>
                                <li>
                                    <p>{{title}}</p>
                                </li>
                                <li><i class="fa-solid fa-tag"></i> {{type_name_vn}}</li>
                                <li><i class="fa-solid fa-clock"></i> {{time}} phút</li>
                                <li><i class="fa-solid fa-globe"></i> {{country_name_vn}}</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <p class="mv-name">{{this.name_vn}}</p>
            </div>
            {{/each}}
            {{else}}
            <div class="text-box p-0 mt-1 mb-5">
                <h1>No Movies Found</h1>
                <h1>No Movies Found</h1>
            </div>
            {{/if}}
        </div>

        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {{#if (gt currentPage 1)}}
                <li class="page-item">
                    <button class="page-link prev-page" aria-label="Previous" data-page="{{subtract currentPage 1}}">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                {{/if}}
                {{#each (range 1 totalPages)}}
                <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                    <button class="page-link page-number" data-page="{{this}}">{{this}}</button>
                </li>
                {{/each}}
                {{#if (lt currentPage totalPages)}}
                <li class="page-item">
                    <button class="page-link next-page" aria-label="Next" data-page="{{add currentPage 1}}">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
                {{/if}}
            </ul>
        </nav>

    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchParams = new URLSearchParams(window.location.search);
        const genre = searchParams.get('genre') || 'none';
        const age = searchParams.get('age') || 'none';
        const rating = searchParams.get('rating') || 'none';
        const country = searchParams.get('country') || 'none';

        document.getElementById('genre-filter').value = genre;
        document.getElementById('age-filter').value = age;
        document.getElementById('rating-filter').value = rating;
        document.getElementById('country-filter').value = country;
        // Attach click event to filter button
        document.getElementById('filter-button').addEventListener('click', function () {
            fetchMovies(); // Reset to page 1 when filters change
        });
        attachPaginationListeners();

    });

    function fetchMovies(page = 1) {
        const searchParams = new URLSearchParams(window.location.search)
        const keyword = searchParams.get('keyword');
        const genre = document.getElementById('genre-filter')?.value || 'none';
        const age = document.getElementById('age-filter').value || 'none';
        const rating = document.getElementById('rating-filter').value || 'none';
        const country = document.getElementById('country-filter').value || 'none';

        let queryParams = new URLSearchParams();
        if (keyword) queryParams.append('keyword', keyword);
        if (genre !== 'none') queryParams.append('genre', genre);
        if (age !== 'none') queryParams.append('age', age);
        if (country !== 'none') queryParams.append('country', country);
        if (rating !== 'none') queryParams.append('rating', rating);
        if (page != 1) {
            queryParams.append('page', page);
        }

        let queryUrl = queryParams.toString() ? `${window.location.pathname}?${queryParams.toString()}` : window.location.pathname;
        window.history.pushState({ path: queryUrl }, '', queryUrl);

        fetch(`/api${queryUrl}`)
            .then(response => response.json())
            .then(data => {
                renderMovies(data.movies);
                renderPagination(data.currentPage, data.totalPages);
            })
            .catch(error => {
                console.error('Error fetching movies:', error);
                document.getElementById('movie-list').innerHTML = `
                    <div class="text-box p-0 mt-1 mb-5">
                        <h1>Error loading movies. Please try again later.</h1>
                    </div>
                `;
            });
    }

    function renderMovies(movies) {
        const movieList = document.getElementById('movie-list');
        movieList.innerHTML = '';

        if (movies.length) {
            movies.forEach(movie => {
                const movieItem = document.createElement('div');
                movieItem.className = 'col-6 col-sm-6 col-xl-3 movie-item';
                movieItem.innerHTML = `
                    <div class="brief-des">
                        <a href="/movies/${movie.id}">
                            <img src="${movie.image}" alt="${movie.name_vn}" class="img-fluid">
                        </a>
                        <div class="rating">
                            ${movie.ratings ? `<i class="fa-solid fa-star"></i><p>${movie.ratings}</p>` : ''}
                        </div>
                        <div class="age-limit">${movie.limitage_vn}</div>
                        <a href="/movies/${movie.id}">
                            <div class="text-container">
                                <ul>
                                    <li><i class="fa-solid fa-tag"></i> ${movie.type_name_vn}</li>
                                    <li><i class="fa-solid fa-clock"></i> ${movie.time} phút</li>
                                    <li><i class="fa-solid fa-globe"></i> ${movie.country_name_vn}</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <p class="mv-name">${movie.name_vn}</p>
                `;
                movieList.appendChild(movieItem);
            });
        } else {
            movieList.innerHTML = `
                <div class="text-box p-0 mt-1 mb-5">
                    <h1>No Movies Found</h1>
                    <h1>No Movies Found</h1>
                </div>
            `;
        }
    }

    function renderPagination(currentPage, totalPages) {
        const pagination = document.querySelector('.pagination.justify-content-center');
        pagination.innerHTML = '';

        // Add previous page button
        if (currentPage > 1) {
            const prevPageItem = document.createElement('li');
            prevPageItem.className = 'page-item';
            prevPageItem.innerHTML = `
                <button class="page-link prev-page" aria-label="Previous" data-page="${currentPage - 1}">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            `;
            pagination.appendChild(prevPageItem);
        }

        // Add page number buttons
        for (let i = 1; i <= totalPages; i++) {
            const pageItem = document.createElement('li');
            pageItem.className = `page-item ${i === currentPage ? 'active' : ''}`;
            pageItem.innerHTML = `<button class="page-link page-number" data-page="${i}">${i}</button>`;
            pagination.appendChild(pageItem);
        }

        // Add next page button
        if (currentPage < totalPages) {
            const nextPageItem = document.createElement('li');
            nextPageItem.className = 'page-item';
            nextPageItem.innerHTML = `
                <button class="page-link next-page" aria-label="Next" data-page="${currentPage + 1}">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            `;
            pagination.appendChild(nextPageItem);
        }

        attachPaginationListeners();
    }

    function attachPaginationListeners() {
        document.querySelectorAll('.page-link').forEach(button => {
            button.addEventListener('click', (event) => {
                const page = event.target.closest('button').getAttribute('data-page');
                fetchMovies(page);
            });
        });
    }
</script>