<section>
    <div class="container-fluid">
        <div class="filter-bar row my-3">
            <div class="col-md-3 d-flex align-items-center">
                <ul class="nav-film">
                    <li class="text-film"><a href="/movies">PHIM</a></li>
                    <li><a class="{{showingMovie_type}}" href="/movies/showing">Đang chiếu</a></li>
                    <li><a class="{{upcomingMovie_type}}" href="/movies/upcoming">Sắp chiếu</a></li>
                </ul>
            </div>
            {{#if genres.length}}
                <div class="col-md-2">
                    <select id="genre-filter" class="form-control">
                        <option value="none" selected>1. Chọn Thể Loại</option>
                        {{#each genres}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/if}}
            <div class="col-md-2">
                <select id="age-filter" class="form-control">
                    <option value="none" selected>2. Chọn Độ Tuổi</option>
                    {{#each ages}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="col-md-2">
                <select id="country-filter" class="form-control">
                    <option value="none" selected>3. Chọn Quốc Gia</option>
                    {{#each countries}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-2">
                <select id="rating-filter" class="form-control">
                    <option value="none" selected>4. Chọn Đánh Giá</option>
                    {{#each ratings}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-1">
                <button id="filter-button" class="btn btn-primary w-100">TÌM</button>
            </div>
        </div>

        <div class="row gx-3 gx-sm-4 gy-3 gy-sm-4" id="movie-list">
            {{#each movies}}
                <div class="col-6 col-sm-6 col-xl-3 movie-item" data-genre="{{this.genre}}" data-age="{{this.age}}"
                     data-rating="{{this.rating}}" data-country="{{this.country}}">
                    <div class="brief-des">
                        <a href="/movies/movie-details/{{this.id}}">
                            <img src="{{this.image_url}}" alt="{{this.title}}" class="img-fluid">
                        </a>
                        <div class="rating">
                            {{#if this.rating}}
                                <i class="fa-solid fa-star"></i>
                                <p>{{this.rating}}</p>
                            {{/if}}
                        </div>
                        <div class="age-limit">{{this.age}}</div>
                    </div>
                    <p class="mv-name">{{this.title}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="/js/filter.js"></script>
