<!DOCTYPE html>
<html>
<head>
    <title>Phim</title>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav-film">
            <li class="text-film">PHIM</li>
            <li class="active-film">Đang chiếu</li>
            <li class="inactive-film">Sắp chiếu</li>
        </ul>
        <div class="row gx-3 gx-sm-4 gy-3 gy-sm-4">
            {{#each movies}}
            <div class="col-6 col-sm-6 col-xl-3" id="mv-img">
                <div class="brief-des">
                    <a href="movies-details.html"><img src="img/{{mvimg}}.png" alt="{{mvname}}" class="img-fluid"></a>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <p>{{mvrating}}</p>
                    </div>
                    <div class="age-limit">{{mvlimit}}</div>
                </div>
                <p class="mv-name">{{mvname}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</body>
</html>
